@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// 全体の背景色と文字色
body{
 background:#e3dbc5;
 color:#42200d;
}

// ヘッダーとフッターの罫線
.cp_hr08 {
  border-top: 2px dashed #b5a094;
  border-bottom: 2px dashed #ffffff;
}

// ヘッダーのcss
.navbar-item{
  margin-right:10px;
}

.navbar-item:last-child{
  margin-right:0;
}

.link{
  color:#42200d;
}

.link:hover{
  text-decoration:none;
  color:#870c46;
  font-weight:bold;
}

// フッターのcss
.flex{
 display:flex;
}

.flex .store-infomation{
  font-size:15px;
  text-align:left;
  padding:0;
}

.flex .store-image{
  text-align:left;
  padding:0;
}

// ログイン入力欄
.session-th{
  width:150px;
}

// ログイン画面リンクテキスト
.link-text{
  color:#735541;
  font-weight:bold;
  margin-top:20px;
}

// ログインボタン
.session-btn{
  margin:10px 0;
  padding:10 30px;
  width:120px;
  text-decoration:none;
  background:#e3dbc5;
  color:#735541;
  border: 2px solid #735541;
  font-weight:bold;
}

.session-btn:hover{
  color:#e3dbc5;
  background:#735541;
}

// ページタイトル
.page-title{
  font-size:30px;
  font-weight:bold;
}

.session-table{
  margin-top:20px;
}

// home画面のレイアウト
.welcome{
  font-size:40px;
  font-weight:bold;
}

.home-image{
  margin-bottom:30px;
}

.store-info{
  font-size:15px;
}

.warning{
  color:#870c46;
}

.home-link{
  font-size:30px;
  font-weight:bold;
  color:#42200d;
}

.home-link:hover{
  text-decoration:none;
  color:#870c46;
  font-weight:bold;
}

// 会員の有効ステータス
.status-false{
  color:#800442;
  font-weight:bold;
}

// 会員の退会ステータス
.status-true{
  color:#918f8d;
  font-weight:bold;
}

// プラスボタン
.plus-btn{
  text-align:right;
  font-size:30px;
}

// 商品画像の設定
.menu-show{
  margin:30px 0;
}

// 編集ボタン
.edit-btn{
  margin:20px 0;
  padding:5px 30px;
  text-decoration:none;
  background:#e3dbc5;
  color:#735541;
  border: 2px solid #735541;
  font-weight:bold;
}

.edit-btn:hover{
  color:#e3dbc5;
  background:#735541;
}

// 一覧画面のリンク
.index-link{
  color:#735541;
  text-decoration:none;
}

// メニュー画面
.menu-info{
  text-align:center;
  margin:30px 0;
}

.menu-link{
  font-size:30px;
  font-weight:bold;
  color:#42200d;
}

.menu-style{
  text-align:center;
  margin-bottom:50px;
}

.img-style{
  text-align:center;
  margin-bottom:20px;
}

.top-img{
  height:300px;
}

.sub-img{
  height:200px;
}

// swipe画像
.swipe-img{
  text-align:center;
}

// メニュー詳細画面
.special-title{
  font-size:30px;
  font-weight:bold;
}

.menu-title{
  font-size:20px;
  font-weight:bold;
}

.menu-introduction{
  margin:20px 0;
}

.menu-price{
  font-size:20px;
  margin-top:10px;
}

// テーブル
table{
  margin:10px 0;
}

thead{
  background:#735541;
  color:#e3dbc5;
  text-align:center;
}

tbody{
  color:#735541;
}

th{
  height:50px;
}

td{
  padding-left:20px;
}

// ページネーション
.pagination{
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a{
  color: #735541;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 50px;
  height: 50px;
  background: #735541;
  color: #e3dbc5;
  border-radius: 100%;
  padding: 10px;
}

.current{
  font-weight: bold;
  color: #735541;
  padding: 10px;
}