<div class="contaier">
  <span class="page-title">ログイン</span>
  <div class="row">
    <%= form_with model: @customer, url: customer_session_path do |f| %>

      <table class="session-table">
        <tr>
          <th class="session-th">メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th class="session-th">パスワード</th>
          <td><%= password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
      <%= f.submit "ログイン", class: "session-btn" %>
    <% end %>
  </div>
</div>

